
head
    link(rel="stylesheet", href="/css/uptime.css", data-inline)

body
    table.title-table
        tr 
            td.title Komonitor Alert

    table.main-table 
        tr 
            td.lg.centered-text 
                span.bold #{monitor.name}
                span!= ` monitor in <span class="bold">${region}</span> has been <span class="down">DOWN</span> for <span class="bold">${monitor.failures_before_alert}</span> consecutive uptime check(s).`
        tr 
            td.lg.centered-text
                span.bold Alert Description: 
                span #{" " + alert.description}
        tr
            td.lg.centered-text Monitor statuses that triggered this alert:
        tr
            td 
                ol.spaced 
                    each status in statuses 
                        li.spaced-more 
                            div 
                                p!= `<span class="bold">Timestamp (UTC):</span> ${status.timestampAsUserTz}`
                                p!= `<span class="bold">Status:</span> <span class="red-500 bold">Down</span>`
                                p!= `<span class="bold">Status Code:</span> <span class="red-500 bold">${(status.response_status_code) && status.response_status_code !== -1 ? status.response_status_code : 'URL Unreachable - No Response'}</span>`
        tr
            td 
                p.spaced!= `<span class="bold">Need to disable or edit this alert?</span> You can do so in the <a href="komonitor.com/app/uptime/${monitor.monitor_id}">Komonitor console</a>.`
                p!= `This is a no-reply email. For support, please contact us at <b>support@komonitor.com</b>.`